<!-- Bootstrap table and button classes removed; PicoCSS styles plain tables and buttons -->
<table>
    <thead>
    <tr>
        <th scope="col">Field</th>
        <th scope="col">Value</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th scope="row">Username</th>
        <td>{{ user.userIdentifier }}</td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">Email</th>
        <td>{{ user.email }}</td>
        <td>
            <button type="button" title="Not implemented" disabled>Change</button>
        </td>
    </tr>
    <tr>
        <th scope="row">Password</th>
        <td>********</td>
        <td>
            <a href="{{ path('user_account_password_change') }}" role="button">Change</a>
        </td>
    </tr>
    </tbody>
</table>