{% extends 'base.html.twig' %}

{% block content %}
    <div id="form-login">
        {{ form(form) }}
    </div>

    <a href="{{ path('user_reset_request') }}" class="btn btn-warning" role="button">Reset</a>
{% endblock %}