<!doctype html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mangetico database web interface">
    <meta name="author" content="Alexey Skobkin">
    {% endblock %}

    <title>{% block title %}Magnetoco Web{% endblock %}</title>

    {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ path('index') }}">Magnetico Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item">
                <a class="nav-link" href="#">Item</a>
            </li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{ path('torrent_search') }}" method="get">
            <input name="query" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                   value="{% if searchQuery is defined %}{{ searchQuery }}{% endif %}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main id="content" role="main" class="container">
    {% block content %}{% endblock %}
</main><!-- /.container -->

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
