{% extends 'base.html.twig' %}

{% block content %}
    <div class="well">
        {% if not is_granted('ROLE_USER') %}
            <a href="{{ path('user_login') }}" class="btn btn-lg btn-primary">Login</a>
        {% endif %}
    </div>
{% endblock %}