{% extends 'base.html.twig' %}

{% block content %}
    {% if inviteValid %}
    <div id="form-register">
        {{ form(form) }}
    </div>
    {% else %}
    <h1>Invalid invite</h1>
    {% endif %}
{% endblock %}